{% extends "xemijobs/base.html" %}

{% block page_title %}COMPANY Dashboard{% endblock page_title %}

{% block main_content %}

    <section class="parallax para-dash-comp mb-3 align-items-center">

        <div class="hero-section text-center text-white d-flex justify-content-center">
            <div class="px-4 pt-5 my-3 text-center">
                <div class="banner-title p-2">
                        <h2 class="display-4 fw-bold ">Welcome <span>{{current_user.username | capitalize}}</span> to your Dashboard</h2>
                </div>
            </div>
        </div>
    
    </section>
    {% if current_user.role == 'company' %}
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                <div class="card xemi-statisic mb-3">
                    <div class="card-header text-center">Active Adds</div>
                    <div class="card-body">
                    <h5 class="card-title text-center">{{ display_info[0] }}</h5>
                    </div>
                </div>
                </div>
                <div class="col-lg-4">
                <div class="card xemi-statisic mb-3">
                    <div class="card-header text-center">Received Applications</div>
                    <div class="card-body">
                    <h5 class="card-title text-center">{{ display_info[1] }}</h5>
                    </div>
                </div>
                </div>
                <div class="col-lg-4">
                <div class="card xemi-statisic mb-3">
                    <div class="card-header text-center">Schedule Interviews</div>
                    <div class="card-body">
                    <h5 class="card-title text-center">{{ display_info[2] }}</h5>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endif %}

    <br>
    <br>

    <div class="container">
        <div class='container text-center '>
            {% if go_back == True %}
                <a href={{ url_for('companies.dashboard')}} class="btn btn-primary m-3 ">Go back to Adverts</a>
            {% endif %}
        </div>
        {% if table_data != None %}
            <div class="row">
                {% include "widgets/table-green.html" %}
            </div>
            <div class='container text-center '>
                {% if go_back == True and table_data | length > 6 %}
                    <a href={{ url_for('companies.dashboard')}} class="btn btn-primary m-3 ">Go back to Adverts</a>
                {% endif %}
            </div>
        {% endif %}        
    </div>
    
{% endblock main_content %}

