{% extends "xemijobs/base.html" %}

<!-- PAGE TITLE -->
{% block page_title %}Company's Login{% endblock page_title %}

{% block main_content %}

    <section class="white-parallax mb-3 align-items-center">

        <div class="hero-section text-center text-white d-flex justify-content-center">
            <div class="px-4 pt-5 my-3 text-center">
                <div class="banner-title p-2">
                        <h2 class="display-4 fw-bold "><span>Company</span> login</h2>
                </div>
            </div>
        </div>

    </section>
    <div class="container d-flex justify-content-center">
            
        {# stablish the target ID for the modal to use #}
        {% set mod_btn = {
            'target_id':'exampleModal',
            'color': 'success',
            'icon': 'bi bi-buildings',
            'txt':'Test Company Credentials'
        } %}
        {% include 'widgets/modal-button.html' %}

    </div> 
    {# stablish the the info for the modal #}
    {% set modal_data= {
        'modal_id': 'exampleModal',
        'title': 'Test Company',
        'body': ['username: Test_comp01','password: Test001'] ,
        
    } %}
    {% include 'widgets/modal.html' %}
    
    
    {# include FORM1.HTML for Login #}
    {% set form_action = url_for('companies.login') %}
    {% set submit_text = "Log In" %}
    {% include 'widgets/form1.html' %}

    <script>

    </script>

{% endblock main_content %}