{% extends "xemijobs/base.html" %}

<!-- PAGE TITLE -->
{% block page_title %}Company's Profile{% endblock page_title %}

{% block main_content %}

    <section class="parallax para-prof-comp mb-3 align-items-center">

        <div class="hero-section text-center text-white d-flex justify-content-center">
            <div class="px-4 pt-5 my-3 text-center">
                <div class="banner-title p-2">
                        <h2 class="display-4 fw-bold "><span>{{current_user.username | capitalize}}'s</span> Profile settings</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- injected widget for profile -->
    {% set form_action = url_for('companies.profile') %}
    {% set submit_text = "Profile" %}
    {% include 'widgets/form1.html' %}

{% endblock main_content %}