{% extends "xemijobs/base.html" %}

{% block page_title %}USER Dashboard{% endblock page_title %}

{% block main_content %}

    <section class="parallax para-dash-user mb-3 align-items-center">

        <div class="hero-section text-center text-white d-flex justify-content-center">
            <div class="px-4 pt-5 my-3 text-center">
                <div class="banner-title p-2">
                        <h2 class="display-4 fw-bold ">Welcome <span>{{current_user.username | capitalize}}</span> to your Dashboard</h2>
                </div>
            </div>
        </div>

    </section>
    <div class="container">
        <div class="row">
            {% if table_data != None and table_headers != None %}
                {% include "widgets/table-green.html" %}
            {% else %}
            <div class="col-lg-12">
                <p class="text-center">No data available yet.</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock main_content %}
