
<div class="container my-4">
    <div class="row">
        {% for item in data[0:9] %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        {% if item.image %}
                        <img src="{{ item.image }}" class="img-fluid rounded-circle me-3" alt="Image" style="width: 60px; height: 60px;">
                        {% endif %}
                        <div>
                            <h5 class="card-title">
                                {% if item.post_title %} 
                                    {{ item.post_title }}
                                {% elif item.username %}
                                    {{ item.username }}
                                {% endif %}
                            </h5>
                            {% if item.company_name %}
                            <h6 class="text-muted">{{ item.company_name }}</h6>
                            {% endif %}
                        </div>
                    </div>
                    {% if item.location %}
                    <p class="card-text"><strong>{{ item.location }}</strong></p>
                    {% endif %}
                    {% if item.job_type %}
                    <p class="card-text"><strong>{{ item.job_type }}</strong></p>
                    {% endif %}
                    {% if item.salary %}
                    <p class="card-text"><strong>£{{ item.salary }}</strong></p>
                    {% endif %}
                    {% if item.description %}
                    <p class="card-text">{{ item.description | truncate(100) }}</p>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    {% if item.ends_on %}
                        <a href="{{ url_for('jobs.job_detail', adv_id=item.id) }}" class="btn btn-primary btn-sm">Job Details</a>
                    {% elif item.role == 'user' %}
                        <a href="{{ url_for('users.user_info', user_id=item.id) }}" class="btn btn-primary btn-sm">User Details</a>
                    {% elif item.role == 'company' %}
                        <a href="{{ url_for('users.user_info', user_id=item.id) }}" class="btn btn-primary btn-sm">Company Details</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %} 
        {% endfor %}
    </div>
</div>

<!-- PAGINATION -->
<div class="container">
    <div class="row d-flex">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if page >= 2 %}
                {% if d_type == 'jobs' %}
                    <a href="{{ url_for('jobs.job_list', page=page - 1) }}" class="btn btn-primary btn-lg px-4 gap-3">Back</a>
                {% elif d_type == 'users' %}
                    <a href="{{ url_for('users.list_of_users', page=page - 1) }}" class="btn btn-primary btn-lg px-4 gap-3">Back</a>
                {% endif %}
            {% endif %}
            {% if data|length == 10 %}
                {% if d_type == 'jobs' %}
                    <a href="{{ url_for('jobs.job_list', page=page + 1) }}" class="btn btn-primary btn-lg px-4 gap-3">Next</a>
                {% elif d_type == 'users' %}
                    <a href="{{ url_for('users.list_of_users', page=page + 1) }}" class="btn btn-primary btn-lg px-4 gap-3">Next</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
