<form method="POST" action="{{ form_action }}" class="container">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.label.text != "CSRF Token" and field.type != "SubmitField" %}
            <div class="form-group">
                {% if field.name == 'ends_on' %}
                    {{ field.label(class="form-label") }}
                    {{ field(class="form-control", placeholder=field.label.text, value=job_info[field.name].strftime('%Y-%m-%d')) }}
                {% else %}
                    {{ field.label(class="form-label") }}
                    {{ field(class="form-control", placeholder=field.label.text, value=job_info[field.name]) }}
                    
                {% endif %}
                {% for error in field.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            {% endif %}
    {% endfor %}
    {% if job_info %}
    <button type="submit" class="btn btn-primary">Update Job</button>
    {% else %}
    <button type="submit" class="btn btn-primary">{{ submit_text }}</button>
    {% endif %}
</form>
<br>
<br>