<form method="POST" action="{{ form_action }}" class="container form-container">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.label.text != "CSRF Token" and field.type != "SubmitField" %}
            <div class="form-group">
                {% if passed_info  %}
                    {% if field.name == 'ends_on' %}
                        {{ field.label(class="form-label") }}
                        {{ field(class="form-control", placeholder=field.label.text, value=passed_info[field.name].strftime('%Y-%m-%d')) }}
                    {% elif field.name == 'current_password' %}
                        <span>To apply changes introduce your <b>Current Password</b></span>
                        <hr>
                        {{ field.label(class="form-label") }}
                        {{ field(class="form-control required", placeholder=field.label.text) }}
                    {% elif field.type == "SelectField" %}
                        {{ field.label(class="form-label") }}
                        {{ field(class="form-control") }}
                    {% else %}
                        {{ field.label(class="form-label") }}
                        {{ field(class="form-control", placeholder=field.label.text, value=passed_info[field.name]) }}
                    {% endif %}
                {% else %}
                    {{ field.label(class="form-label") }}
                    {{ field(class="form-control", placeholder=field.label.text) }}
                
                {% endif %}
                {% for error in field.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            {% endif %}
    {% endfor %}
    {% if passed_info %}
            {% if passed_info== current_user.__dict__ %}
                <button type="submit" class="btn btn-primary">Update Profile</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Update Job</button>
            {% endif %} 
    {% else %}
        <button type="submit" class="btn btn-primary">{{ submit_text }}</button>
    {% endif %}
</form>
<br>
<br>