{% set context = {'id': 'id', 'adv_id': 'adv_id', 'user_id': 'user_id', 'status': 'status' } %}
{# Define a context dictionary to store IDs #}

<div class="table-responsive">
    <table class="table table-hover table-green">
        {### Stablish the Table Headers ###}
        <thead>
            <tr>
                {% for header in table_headers %}
                    {% if header == 'adv_id' %}
                        <th scope="col">Advert</th>
                    {% elif header == 'comp_id' %}
                        <th scope="col">Company</th>
                    {% elif header == 'user_id' %}
                        <th scope="col">Applicant</th>
                        
                    {% else %}
                        {# Replace underscores with spaces and capitalize the first letter #}
                        <th scope="col">{{ header.replace('_', ' ').capitalize() }}</th>
                    {% endif %}
                {% endfor %}
           
                <th>Action</th>
                
                {# Add an Action column #}
                {% if current_user.role == 'company' and table_headers|length == 5 and 'comp_id' and 'adv_id' in table_headers %}
                    <th>Status</th>
                    {# Add an Action column #}
                {% endif %}
            </tr>
        </thead>
        {### END Stablish the Table Headers ###}
        {### Stablish the Table Body ###}
        <tbody>
            {### Stablish the Table Rows ###}
            {% for row in table_data %}
                <tr>
                    {% for key in row %}
                        {### Sets the CONTEXT variable ###}
                        {% if key == 'id' %}
                            {% set context = context.update({'id': row.get(key) }) %}
                            {# Update context with the current row ID #}
                        {% elif key == 'adv_id' %}
                            {% set context = context.update({'adv_id': row.get(key) }) %}
                            {# Update context with the current row ADV_ID #}
                        {% elif key == 'user_id' %}
                            {% set context = context.update({'user_id': row.get(key) }) %}
                            {# Update context with the current row USER_ID #}
                        {% elif key == 'status' %}
                            {% set context = context.update({'status': row.get(key) }) %}
                            {# Update context with the current row STATUS #}
                        {% endif %}
                        {### ENDS Sets the CONTEXT variable ###}
                        {### Sets the ROW ###}
                        {### This block gets executed if role is COMPANY ###}
                        {% if current_user.role == 'company' and key != 'id' and key != 'description' and key != 'comp_name' %}
                            {% if key == 'created_on' %}
                                <td>{{ row.get(key)[0:10] }}</td>
                                {# Display only the date part of the created_on field #}
                            {% else %}
                                {% if key == 'username' %}
                                    <td>{{ get_info_for('users', row.get(key).replace('_', ' ').capitalize()) }}</td>
                                    {# Fetch and display user info #}
                                {% elif key == 'user_id' %}
                                    <td>{{ get_info_for('users', row.get(key).replace('_', ' ').capitalize()) }}</td>
                                    {# Fetch and display user info by user_id #}
                                {% elif key == 'comp_id' %}
                                    <td>{{ get_info_for('companies', row.get(key).replace('_', ' ').capitalize()) }}</td>
                                    {# Fetch and display company info by comp_id #}
                                {% elif key == 'adv_id' %}
                                    <td>{{ get_info_for('jobs', row.get(key).replace('_', ' ').capitalize()) }}</td>
                                    {# Fetch and display job info by adv_id #}
                                
                                {% else %}
                                    {% if key == 'status' %}
                                        <td>{{ row.get(key).replace('_', ' ').capitalize() }}</td>
                                        {# Display the value of the current field #}
                                    {% else %}
                                        <td>{{ row.get(key) }}</td>
                                        {# Display the value of the current field #}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {### ENDS COMPANY section ###}
                        {### This block gets executed if role is USER ###}
                        {% elif current_user.role == 'user' and key != 'user_id' and key != 'id' and key != 'description' and key != 'comp_name' %}
                            {% if key == 'created_on' %}
                                <td>{{ row.get(key)[0:10] }}</td>
                                {# Display only the date part of the created_on field #}
                            {% else %}
                                {% if key == 'username' %}
                                    <td>{{ get_info_for('users', row.get(key).replace('_', ' ').capitalize()) }}</td>
                                    {# Fetch and display user info by username #}
                                {% elif key == 'comp_id' %}
                                    <td>{{ get_info_for('companies', row.get(key).replace('_', ' ').capitalize()) }}</td>
                                    {# Fetch and display company info by comp_id #}
                                {% elif key == 'adv_id' %}
                                    <td>{{ get_info_for('jobs', row.get(key).replace('_', ' ').capitalize()) }}</td>
                                    {# Fetch and display job info by adv_id #}
                                {% else %}
                                    <td>{{ row.get(key) }}</td>
                                    {# Display the value of the current field #}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {### ENDS USER section ###}
                        {### ENDS Sets the ROW ###}
                    {% endfor %}
                    {% if current_user.role == 'user' %}
                    {### This block gets executed if role is USER ###}
                        <td>
                            {% set table_anc = {
                                'href' : url_for('jobs.job_detail', adv_id= context.adv_id),
                                'bs_color' : 'primary',
                                'bs_icon' : 'bi bi-eye-fill'
                            } %}
                            {% include 'widgets/table-anchor.html' %}
                            {# stablish the target ID for the modal to use #}
                            {% set mod_btn = {
                                'target_id':'del-modal-user',
                                'txt':'Delete'
                            } %}
                            {% include 'widgets/modal-button.html' %}
                        </td>
                        {% set modal_data = {
                            'modal_id': 'del-modal-user' ,
                            'body': "You are about to delete your APPLICATION for this job.\n Do you want to proceed?",
                            'btn_text': 'DELETE',
                            'btn_class': 'btn-danger',
                            'btn_link': url_for('applications.delete_user_appl', appli_id= context.id)
                        } %}
                        {% include "widgets/modal.html" %}
                        {# Include modal for delete confirmation #}
                    {### ENDS USER section ###}
                    {### This block gets executed if role is COMPANY ###}
                        {% elif current_user.role == 'company' %}
                            <td>
                                {% if table_headers|length == 5 %}
                                    {% set table_anc = {
                                        'href' : url_for('users.user_info', user_id= context.user_id),
                                        'bs_color' : 'primary',
                                        'bs_icon' : 'bi bi-eye-fill'
                                    } %}
                                    {% include 'widgets/table-anchor.html' %}
                                    
                                {% else%}
                                    {# BUTTONS ADVERT SECTION #}
                                    {# BUTTON view Advert #}
                                    {% set table_anc = {
                                        'href' : url_for('companies.adv_dash', adv_id= context.id),
                                        'bs_color' : 'primary',
                                        'bs_icon' : 'bi bi-card-list'
                                    } %}
                                    {% include 'widgets/table-anchor.html' %}
                                
                                    {# BUTTON view Edit JOB #}
                                    {% set table_anc = {
                                        'href' : url_for('jobs.edit_job', adv_id= context.id),
                                        'bs_color' : 'warning',
                                        'bs_icon' : 'bi bi-pencil-fill'
                                    } %}
                                    {% include 'widgets/table-anchor.html' %}
                                    {# ENDS BUTTON view Edit JOB #}
                                    {# ENDS BUTTONS ADVERT SECTION #}
                                {% endif %}
                                {# Show modal for DELETE button #}
                                {# stablish the target ID for the modal to use #}
                                {% set mod_btn = {
                                    'target_id':'del-modal-company',
                                    'txt':'Delete'
                                } %}
                                {% include 'widgets/modal-button.html' %}
                                {% if table_headers|length != 5 %}
                                    {% set modal_data = {
                                        'modal_id': 'del-modal-company' ,
                                        'body': "You are about to delete an ADVERT and all its associated APPLICATIONS.\n Do you want to proceed?",
                                        'btn_text': 'DELETE',
                                        'btn_class': 'btn-danger',
                                        'btn_link': url_for('applications.delete_all_appls_from_adv', adv_id= context.id)
                                    } %}
                                {% else %}
                                    {% set modal_data = {
                                        'modal_id': 'del-modal-company' ,
                                        'body': "You are about to delete this APPLICATIONS.\n Do you want to proceed?",
                                        'btn_text': 'DELETE',
                                        'btn_class': 'btn-danger',
                                        'btn_link': url_for('applications.delete_all_appls_from_adv', adv_id= context.id)
                                    } %}
                                {% endif %}
                                {% include "widgets/modal.html" %}
                                {# Update Status Actions #}
                                {% if table_headers|length == 5 %}
                                    <td>
                                        {% if context.status != 'hired' or context.status != 'rejected' %}
                                            {% if context.status == 'pending' %}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'shortlisted'),
                                                    'bs_color' : 'primary',
                                                    'bs_icon' : 'bi bi-list-check'
                                                } %}
                                                {% include 'widgets/table-anchor.html' %}
                                                
                                            {% elif context.status == 'shortlisted' %}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'interview_scheduled'),
                                                    'bs_color' : 'primary',
                                                    'bs_icon' : 'bi bi-calendar2-check'
                                                } %}
                                                {% include 'widgets/table-anchor.html' %}
                                                {# Push status one back #}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'pending'),
                                                    'bs_color' : 'warning',
                                                    'bs_icon' : 'bi bi-skip-backward-circle-fill'
                                                } %}
                                                {% include 'widgets/table-anchor.html' %}
                                                    
                                            {% elif context.status == 'interview_scheduled' %}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'offer_made'),
                                                    'bs_color' : 'primary',
                                                    'bs_icon' : 'bi bi-envelope-check-fill'
                                                } %}
                                                {% include 'widgets/table-anchor.html' %}
                                                {# Push status one back #}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'interview_scheduled'),
                                                    'bs_color' : 'warning',
                                                    'bs_icon' : 'bi bi-skip-backward-circle-fill'
                                                } %}
                                                {% include 'widgets/table-anchor.html' %}
                                                    
                                            {% elif context.status == 'offer_made' %}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'hired'),
                                                    'bs_color' : 'primary',
                                                    'bs_icon' : 'bi bi-hand-thumbs-up-fill'
                                                } %}
                                                {% include 'widgets/table-anchor.html' %}
                                                {# Push status one back #}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'interview_scheduled'),
                                                    'bs_color' : 'warning',
                                                    'bs_icon' : 'bi bi-skip-backward-circle-fill'
                                                } %}
                                            {% include 'widgets/table-anchor.html' %}
                                                
                                                
                                            {% endif %}
                                            {### REJECT btn ###}
                                            {% if context.status != 'hired' and context.status != 'rejected' %}
                                                {% set table_anc = {
                                                    'href' : url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'rejected'),
                                                    'bs_color' : 'danger',
                                                    'bs_icon' : 'bi bi-ban'
                                                } %}
                                                {% include 'widgets/table-anchor.html' %}
                                            {% endif %}
                                            {### ENDS REJECT btn ###}
                                            

                                            
                                            
                                        {% endif %}
                                        {% if context.status == 'rejected' %}
                                            <a href="{{ url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'pending') }}" class="btn btn-primary btn-sm">
                                                {# View button with Rewinde icon #}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rewind" viewBox="0 0 16 16">
                                                    <path d="M9.196 8 15 4.633v6.734zm-.792-.696a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696z"/>
                                                    <path d="M1.196 8 7 4.633v6.734zm-.792-.696a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696z"/>
                                                </svg> Restart
                                            </a>
                                        {% elif context.status == 'hired' %}
                                            <a href="{{ url_for('applications.update_appl',appli_id=context.id, adv_id= context.adv_id, status= 'pending') }}" class="btn btn-primary btn-sm">
                                                {# View button with repeat #}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16">
                                                    <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z"/>
                                                </svg> Restart
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            
                            </td>
                            {# Include modal for delete confirmation #}
                        {% else %}
                            <td>
                                {% set table_anc = {
                                    'bs_color' : 'primary',
                                    'bs_icon' : 'bi bi-eye-fill'
                                } %}
                                {% include 'widgets/table-anchor.html' %}
                                {% set table_anc = {
                                    'bs_color' : 'danger',
                                    'bs_icon' : 'bi bi-trash3-fill'
                                } %}
                                {% include 'widgets/table-anchor.html' %}
                            </td>
                        {% endif %}
                    {### ENDS COMPANY section ###}
                </tr>
            {% endfor %}
            {### END Stablish the Table Rows ###}
        </tbody>
        {### END Stablish the Table Body ###}
    </table>
</div>
