
<div class="container my-5" >
    <h1 class="text-center mb-4">Pricing</h1>
    <div class="row justify-content-center">
        {% for card in glowcards_data %}
        {% if glowcards_data | length >= 3 %}
        {% set columns = 'col-md-4' %}
        {% elif glowcards_data | length <=2 %}
        {% set columns = 'col-md-6' %}
        {% endif %}
        <div class="col-md-4 mb-4">
            <div class="card text-center border-primary h-100" id="gl-card">
                {% if card.icon %}
                <i class='{{card.icon}}'></i>
                {% endif %}
                <div class="card-body" >
                    {% if card.title %}
                        <h2 class="card-title">{{ card.title }}</h2>
                    {% endif %}
                    {% if card.price %}
                        <p class="card-text display-4">{{ card.price }}</p>
                    {% endif %}
                    {% if card.paragraphs %}
                        {% for p in card.paragraphs %}
                            {{ p }}
                        {% endfor %}
                        <br>
                        <br>
                    {% endif %}
                    {% if card.bullets %}
                        <ul class="list-unstyled">
                            {% for bullet in card.bullets %}
                                <li class="mb-2"><i class='{% if card.icon %} {{card.icon}} {% endif %}'></i> {{ bullet }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <a href="{{ card.link }}" class="btn btn-primary mt-auto">{{ card.cta_text }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/xemiglowcards.js') }}"></script>

