/* MAIN COLOR PALLETTE */

:root {
    --primary-color: #1F2937;
    --secondary-color: #3B82F6;
    --accent-color: #10B981;
    --background-color: #e2e3e4;
    --main-text-color: #1F2937;
    --secondary-text-color: #666666;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #3b83f6a8;
    --accent-color-transparency: #0f9f7968;
    --light-gray-color: #E5E7EB;
    --hover-accent-color: #0F9F79;
    --hover-button-color: #cf8168;
    --white-text-shadow: 1px 1px 2px var(--secondary-text-color);
}


/* TRPICAL PALLETE */


/* :root {
    --primary-color: #1D3557;
    --secondary-color: #457B9D;
    --accent-color: #A8DADC;
    --background-color: #F1FAEE;
    --main-text-color: #1D3557;
    --secondary-text-color: #457B9D;
    --white-color: #FFFFFF;
    --accent-color-transparency: #a8dadc68;
    --light-gray-color: #E5E5E5;
    --hover-accent-color: #457B9D;
    --hover-button-color: #1D3557;
    --white-text-shadow: 1px 1px 2px var(--secondary-text-color);
} */


/* NEON PALLETTE */


/* :root {
    --primary-color: #1A2130;
    --secondary-color: #83B4FF;
    --accent-color: #5A72A0;
    --background-color: #FDFFE2;
    --main-text-color: #1A2130;
    --secondary-text-color: #5A72A0;
    --white-color: #FFFFFF;
    --accent-color-transparency: #5a72a068;
    --light-gray-color: #E5E7EB;
    --hover-accent-color: #3A5F8C;
    --hover-button-color: #A0C4FF;
    --white-text-shadow: 1px 1px 2px var(--secondary-text-color);
} */

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--main-text-color);
}

header {
    background-color: var(--primary-color);
}

p {
    color: var(--secondary-text-color);
    font-weight: 500;
}

a {
    font-weight: 700;
    color: var(--secondary-color);
}

a:hover {
    color: var(--hover-accent-color);
}


/* NAVBAR */

.navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--white-color);
}

.navbar-brand>img {
    height: 5.6rem;
    width: auto;
}

.navbar-nav .nav-link {
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 400;
}

.navbar-nav .nav-link:hover {
    color: var(--hover-accent-color);
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler svg {
    stroke: var(--accent-color);
    height: 3rem;
    width: auto;
}

.navbar-toggler:active {
    border-color: var(--accent-color);
}


/* FORM */

.form-control {
    background-color: var(--light-gray-color);
    border: 1px solid var(--secondary-color);
}

.form-control:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.2rem var(--accent-color-transparency);
}

.form-group {
    margin-bottom: 1.5rem;
    color: var(--main-text-color);
    display: block;
}

.form-group label {
    color: var(--secondary-text-color);
    font-weight: 700;
}


/* BTN */

.btn-outline-success {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-outline-success:hover {
    background-color: var(--hover-button-color);
    border-color: var(--hover-button-color);
    color: var(--white-color);
}


/* FOOTER */

.footer {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.footer a {
    color: var(--secondary-color) !important;
}

.footer a:hover {
    color: var(--hover-accent-color) !important;
}

.footer h5 {
    font-weight: 700;
    color: var(--accent-color);
}

.footer p,
.footer ul,
.footer li {
    font-family: 'Poppins', sans-serif;
    color: var(--light-gray-color);
}

.footer .list-unstyled li {
    margin-bottom: 0.5rem;
}


/* CARDS */

.card {
    border: 1px solid var(--light-gray-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px -1.5px var(--accent-color-transparency);
}

.card-img-top {
    border-bottom: 1px solid var(--light-gray-color);
}

.card-body {
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-weight: 700;
    color: var(--primary-color);
}

.card-text {
    color: var(--secondary-text-color);
}

.card-footer {
    background-color: var(--background-color);
    border-top: 1px solid var(--light-gray-color);
}

.btn-primary {
    background-color: var(--accent-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--hover-accent-color);
}


/* ALERTS */

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

.alert {
    background-color: var(--accent-color);
    color: var(--white-color);
    text-shadow: var(--white-text-shadow);
    border: none;
}

.alert-danger,
.alert-error,
.alert-warning {
    background-color: var(--hover-button-color);
}

.alert-info {
    background-color: var(--secondary-color);
}


/* MODAL */

.modal-content {
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--accent-color-transparency);
    color: var(--main-text-color);
}

.modal-header {
    border-bottom: 1px solid var(--light-gray-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.modal-content .modal-title {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--accent-color)
}

.modal-content .btn-close {
    color: var(--white-color);
    opacity: 0.8;
    box-sizing: content-box;
    position: relative;
    top: 0;
    right: 0;
    background-color: var(--hover-button-color);
}

.modal-content .btn-close:hover {
    color: var(--white-color);
    opacity: 1;
}

.modal-body {
    color: var(--main-text-color);
    background-color: var(--light-gray-color);
    font-family: 'Poppins', sans-serif;
}

.modal-footer {
    border-top: 1px solid var(--light-gray-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.modal-footer .btn-secondary {
    background-color: var(--light-gray-color);
    border-color: var(--light-gray-color);
    color: var(--primary-color);
}

.modal-footer .btn-secondary:hover {
    background-color: var(--hover-button-color);
    border-color: var(--hover-button-color);
    color: var(--white-color);
}

.modal-footer .btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white-color);
}

.modal-footer .btn-primary:hover {
    background-color: var(--hover-accent-color);
    border-color: var(--hover-accent-color);
}


/* Carrusel */

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: var(--accent-color-transparency);
    /* Usando --primary-color con transparencia */
    /* padding: 1rem; */
    border-radius: 0.5rem;
}

.carousel-caption>p {
    color: var(--white-color);
    text-shadow: var(--white-text-shadow)
}

.carousel-caption>h5 {
    text-shadow: 1px 1px 2px var(--white-color);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--secondary-color);
}

.carousel-indicators .active {
    background-color: var(--accent-color);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    /* Cambiar a blanco */
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(50%);
    /* Cambiar a gris claro al pasar el mouse */
}


/* TABLE */

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--main-text-color);
    /* background-color: var(--accent-color); */
    border-collapse: collapse;
    border-radius: 15%;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    /* border-bottom: 1.80px solid var(--accent-color); */
    border-radius: 10px;
}

.table thead {
    /* border: 1.80px dashed var(--accent-color); */
}

.table tbody {
    /* border: 1.80px dashed var(--accent-color); */
}

.table thead th {
    vertical-align: bottom;
    color: var(--white-color);
    text-shadow: var(--white-text-shadow);
    border-bottom: 2px solid var(--light-gray-color);
    background-color: var(--secondary-color-transparency);
}

.table tbody+tbody {
    border-top: 2px solid var(--light-gray-color);
}

.table-hover tbody tr:hover {
    color: var(--accent-color);
    background-color: var(--accent-color-transparency);
}

.table th {
    font-weight: bold;
    text-align: left;
}

.table-green thead th {
    background-color: var(--accent-color-transparency);
    color: var(--main-text-color);
    text-shadow: var(--secondary-color-transparency);
}


/* INDEX.HTML */

.contact-section {
    background-color: var(--accent-color-transparency);
}

.contact-section p {
    color: var(--white-color);
    text-shadow: var(--white-text-shadow)
}

.contact-section h2,
.contact-section h4 {
    text-shadow: 1px 1px 2px var(--white-color);
}

.section-shadow {
    background-color: var(--accent-color-transparency);
    box-shadow: 0 4px 8px var(--primary-color);
}

.xemi-feat {
    position: relative;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    text-decoration: none;
    filter: drop-shadow(10px 7px 20px var(--secondary-color-transparency));
}

.xemi-feat>svg {
    width: 10rem;
    height: auto;
    rotate: z 45deg;
    padding: 3px;
    color: var(--secondary-color);
    position: absolute;
    z-index: 0;
    top: -3rem;
    right: 2.6rem;
    background-color: var(--accent-color-transparency);
    border: var(--secondary-color) dashed 0.34rem;
    border-radius: 50%;
}

.xemi-feat .feat-text {
    z-index: 4;
    position: relative;
    background-color: var(--accent-color-transparency);
    border-radius: 80px;
}

.xemi-feat h3 {
    text-shadow: 1px 1px 2px var(--white-color);
    padding: 3px;
}

.xemi-feat p {
    font-size: 1.4rem;
    color: var(--white-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}

.about-section p {
    font-size: 1.15rem;
    font-weight: 400;
    filter: drop-shadow(10px 7px 20px var(--accent-color-transparency));
}