/* MAIN COLOR PALLETTE */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
    --primary-color: #1F2937;
    --warning-color: #d9a805d3;
    --secondary-color: #1e97f3;
    --accent-color: #10B981;
    --background-color: #e2e3e4;
    --main-text-color: #1F2937;
    --secondary-text-color: #020556f2;
    --alter-text-color: #ffffffda;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #2d69c9a8;
    --accent-color-transparency: #0f9f7968;
    --light-gray-color: #E5E7EB;
    --hover-accent-color: #0F9F79;
    --hover-button-color: #cf8168;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* NEON BLUE LIGHT */

.neon-blue-theme {
    --primary-color: #1F2937;
    --warning-color: #ffc34cdf;
    --secondary-color: #00FFA3;
    --accent-color: #00A3FF;
    --background-color: #c1cfe2;
    --main-text-color: #0C0C0C;
    --secondary-text-color: #011f14;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #09c457c2;
    --accent-color-transparency: #00A3FF68;
    --light-gray-color: #E5E7EB;
    --hover-accent-color: #09dadaab;
    --hover-button-color: #cf8168;
    --white-text-shadow: 1px 1px 2px var(--secondary-text-color);
    --transparent: #000000;
}


/* PINK DETAILS */

.pink-theme {
    --primary-color: #0C0C1A;
    --warning-color: #f6ca3b;
    --secondary-color: #FF4081;
    --accent-color: #00E5FF;
    --background-color: #F8F8FF;
    --main-text-color: #0C0C1A;
    --secondary-text-color: #2C2C2C;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #ff306ba8;
    --accent-color-transparency: #00bfe168;
    --light-gray-color: #F3F3F9;
    --hover-accent-color: #00BFE1;
    --hover-button-color: #FF5722;
    --white-text-shadow: 1px 1px 2px var(--secondary-text-color);
    --transparent: #000000;
}


/* ORANGE-BLUE */

.orange-blue-theme {
    --primary-color: #071427;
    --warning-color: #f6ca3b;
    --secondary-color: #ff5252c1;
    --accent-color: #40C4FF;
    --background-color: #c3c3c561;
    --main-text-color: #121212;
    --secondary-text-color: #09165a;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #fc7349c8;
    --accent-color-transparency: #1a85ff4f;
    --light-gray-color: #EFEFF5;
    --hover-accent-color: #1AB1FF;
    --hover-button-color: #FF7043;
    --white-text-shadow: 1px 1px 2px var(--secondary-text-color);
    --transparent: #000000;
}


/* DARK ELEGANT */

.dark-elegant-theme {
    --primary-color: #1E212B;
    --warning-color: #F4A261;
    --secondary-color: #4586d6;
    --accent-color: #2EC4B6;
    --background-color: #F1F1F1;
    --main-text-color: #1E212B;
    --secondary-text-color: #4A4A4A;
    --alter-text-color: #ECECEC;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #3481d2ca;
    --accent-color-transparency: #2EC4B668;
    --light-gray-color: #B0BEC5;
    --hover-accent-color: #2D7F86;
    --hover-button-color: #E76F51;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* MODERN SOPHISTICATED */

.modern-sophisticated-theme {
    --primary-color: #1A1A1D;
    --warning-color: #FFC300;
    --secondary-color: #C70039;
    --accent-color: #44AF69;
    --background-color: #F7F7F7;
    --main-text-color: #1A1A1D;
    --secondary-text-color: #333333;
    --alter-text-color: #EFEFEF;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #D7263D99;
    --accent-color-transparency: #76D7C468;
    --light-gray-color: #D3D3D3;
    --hover-accent-color: #2D6A4F;
    --hover-button-color: #FF5733;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* FRESH VIBRANT */

.fresh-vibrant-theme {
    --primary-color: #272643;
    --warning-color: #F76C6C;
    --secondary-color: #1FAB89;
    --accent-color: #FFE156;
    --background-color: #F0F0F0;
    --main-text-color: #272643;
    --secondary-text-color: #2E2E38;
    --alter-text-color: #FFFFFF;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #1FAB8999;
    --accent-color-transparency: #FFE15668;
    --light-gray-color: #CACACA;
    --hover-accent-color: #F4A261;
    --hover-button-color: #D62828;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* SUNSET BREEZE */

.sunset-breeze-theme {
    --primary-color: #2e0700;
    --warning-color: #FFD166;
    --secondary-color: #EF476F;
    --accent-color: #06D6A0;
    --background-color: #F4F4F9;
    --main-text-color: #333333;
    --secondary-text-color: #555555;
    --alter-text-color: #FFFFFF;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #ef476ec3;
    --accent-color-transparency: #06d69e8d;
    --light-gray-color: #E0E0E0;
    --hover-accent-color: #05C785;
    --hover-button-color: #FF9F1C;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* OCEAN MIST */

.ocean-mist-theme {
    --primary-color: #004164;
    --warning-color: #FFD700;
    --secondary-color: #e7f0fa;
    --accent-color: #90E0EF;
    --background-color: #F0F8FF;
    --main-text-color: #023E8A;
    --secondary-text-color: #03045E;
    --alter-text-color: #FFFFFF;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #023E8A99;
    --accent-color-transparency: #90E0EF68;
    --light-gray-color: #B0C4DE;
    --hover-accent-color: #48CAE4;
    --hover-button-color: #FFB703;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* TROPICAL TWILIGHT */

.tropical-twilight-theme {
    --primary-color: #4d0600;
    --warning-color: #FF686B;
    --secondary-color: #dfe2e4;
    --accent-color: #4D9DE0;
    --background-color: #F3F4F6;
    --main-text-color: #1B4965;
    --secondary-text-color: #355070;
    --alter-text-color: #FFFFFF;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #1B4965CC;
    --accent-color-transparency: #4D9DE0CC;
    --light-gray-color: #B0BEC5;
    --hover-accent-color: #3A86FF;
    --hover-button-color: #FF5964;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* MIDNIGHT BLOOM */

.midnight-bloom-theme {
    --primary-color: #17173d;
    --warning-color: #FF9F1C;
    --secondary-color: #d3d3d6;
    --accent-color: #E63946;
    --background-color: #F8F9FA;
    --main-text-color: #2A2A72;
    --secondary-text-color: #383E56;
    --alter-text-color: #FFFFFF;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #4A47A3CC;
    --accent-color-transparency: #E63946CC;
    --light-gray-color: #CBD5E0;
    --hover-accent-color: #D90429;
    --hover-button-color: #FF6B6B;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}


/* SERENE DAWN */

.serene-dawn-theme {
    --primary-color: #3B3B58;
    --warning-color: #F2B705;
    --secondary-color: #74bbf6;
    --accent-color: #7BC043;
    --background-color: #F5F7FA;
    --main-text-color: #3B3B58;
    --secondary-text-color: #495867;
    --alter-text-color: #1d0202;
    --white-color: #FFFFFF;
    --secondary-color-transparency: #4ea3e9cc;
    --accent-color-transparency: #7bc0436b;
    --light-gray-color: #BCCCDC;
    --hover-accent-color: #66B032;
    --hover-button-color: #FFA41B;
    --white-text-shadow: 1px 1px 1px var(--secondary-text-color);
    --dark-text-shadow: 1px 1px 4px var(--white-color);
    --transparent: #000000;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: var(--main-text-color);
}

header {
    background-color: var(--primary-color);
    margin-bottom: 0;
}

p {
    color: var(--secondary-text-color);
    font-weight: 500;
}

a {
    font-weight: 700;
    color: var(--secondary-color);
}

a:hover {
    color: var(--hover-accent-color);
}


/* NAVBAR */

.navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--white-color);
}

.navbar-brand>img {
    height: 5.6rem;
    width: auto;
}

.navbar-nav .nav-link,
.nav-link>.bi {
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 400;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.show:hover,
.nav-link>.bi:hover {
    color: var(--hover-accent-color);
}

.navbar-nav .dropdown-menu {
    background-color: var(--primary-color);
    border: none;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--secondary-color);
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler svg {
    stroke: var(--accent-color);
    height: 3rem;
    width: auto;
}

.navbar-toggler:active {
    border-color: var(--accent-color);
}


/* FORM */

.form-control {
    background-color: var(--light-gray-color);
    border-radius: 1.3rem;
    border: 1px solid var(--accent-color-transparency);
}

.form-control:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.2rem var(--accent-color-transparency);
}

.form-group {
    margin-bottom: 1.5rem;
    color: var(--main-text-color);
    display: block;
}

.form-group label {
    color: var(--secondary-text-color);
    font-weight: 700;
}

.form-container {
    background-color: var(--white-color);
    border-radius: 1.3rem;
    border: 0.4rem ridge var(--accent-color-transparency);
    padding: 1.2rem;
    box-shadow: 0.25rem 0.13rem 1.4rem var(--primary-color);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.form-group textarea {
    height: 17rem;
}


/* BTN */

.btn {
    box-shadow: var(--white-text-shadow);
    color: var(--white-color);
    text-shadow: var(--white-text-shadow);
}

.btn-primary {
    background-color: var(--secondary-color-transparency);
    border: none;
}

.btn-outline-success {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-outline-success:hover {
    background-color: var(--hover-button-color);
    border-color: var(--hover-button-color);
    color: var(--white-color);
}

.btn-danger {
    background-color: var(--hover-button-color);
    border: none;
}

.btn-warning {
    background-color: var(--warning-color);
}

.btn-warning:hover {
    background-color: var(--light-gray-color);
    border-color: var(--light-gray-color);
}


/* FOOTER */

.footer {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.footer a {
    color: var(--secondary-color) !important;
}

.footer a:hover {
    color: var(--hover-accent-color) !important;
}

.footer h3 {
    font-weight: 700;
    color: var(--accent-color);
}

.footer p,
.footer ul,
.footer li {
    font-family: 'Poppins', sans-serif;
    color: var(--light-gray-color);
}

.footer .list-unstyled li {
    margin-bottom: 0.5rem;
}


/* CARDS */

.card {
    border: 1px solid var(--light-gray-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px -1.5px var(--accent-color-transparency);
}

.card-img-top {
    border-radius: 50%;
    height: 6.4rem;
    width: auto;
    padding-bottom: 1.5rem;
}

.card-body {
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-weight: 700;
    color: var(--primary-color);
}

.card-text {
    color: var(--secondary-text-color);
}

.card .text-desc {
    white-space: pre-line;
}

.btn-primary:hover {
    background-color: var(--hover-accent-color);
}

.text-muted {
    color: var(--secondary-text-color) !important;
    font-size: 1rem;
}


/* --> GL CARDS <-- */

#gl-cards .card {
    transition-property: all;
    transition-duration: 1.5s;
}

#gl-cards .card:hover {
    background: content-box linear-gradient( var(--background-color), var(--accent-color-transparency));
    box-shadow: 6px -1.5px var(--secondary-color-transparency);
    transition-property: all;
}


/* ALERTS */

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

.alert {
    background-color: var(--accent-color);
    color: var(--white-color);
    text-shadow: var(--white-text-shadow);
    border: none;
    box-shadow: var(--white-text-shadow);
    margin-top: 1.5rem;
}

.alert-danger,
.alert-error {
    background-color: var(--hover-button-color);
}

.alert-warning {
    background-color: var(--warning-color);
}

.alert-info {
    background-color: var(--secondary-color);
}


/* MODAL */

.modal-content {
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--accent-color-transparency);
    color: var(--main-text-color);
}

.modal-header {
    border-bottom: 1px solid var(--light-gray-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.modal-content .modal-title {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--accent-color)
}

.modal-content .btn-close {
    color: var(--white-color);
    opacity: 0.8;
    box-sizing: content-box;
    position: relative;
    top: 0;
    right: 0;
    background-color: var(--hover-button-color);
}

.modal-content .btn-close:hover {
    color: var(--white-color);
    opacity: 1;
}

.modal-body {
    color: var(--main-text-color);
    background-color: var(--light-gray-color);
    font-family: 'Poppins', sans-serif;
}

.modal-footer {
    border-top: 1px solid var(--light-gray-color);
    background-color: var(--secondary-color-transparency);
    color: var(--white-color);
    text-shadow: var(--white-text-shadow);
}

.modal-footer .btn-secondary {
    background-color: var(--light-gray-color);
    border-color: var(--light-gray-color);
    color: var(--primary-color);
    text-shadow: none;
    font-weight: 500;
}

.modal-footer .btn-secondary:hover {
    background-color: var(--hover-button-color);
    border-color: var(--hover-button-color);
    color: var(--white-color);
}

.modal-footer .btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 500;
}

.modal-footer .btn-primary:hover {
    background-color: var(--hover-accent-color);
    border-color: var(--hover-accent-color);
}


/* Carrusel */

.carousel {
    border: 3px solid var(--secondary-color);
    border-radius: 18px;
    box-shadow: var(--white-text-shadow);
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-caption {
    background-color: var(--accent-color-transparency);
    border-radius: 0.5rem;
}

.carousel-caption>p {
    color: var(--white-color);
    text-shadow: var(--white-text-shadow)
}

.carousel-caption>.slide-title {
    text-shadow: 1px 1px 2px var(--white-color);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--secondary-color);
}

.carousel-indicators .active {
    background-color: var(--accent-color);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--secondary-color-transparency);
    border-radius: 50%;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: var(--accent-color-transparency);
    border-radius: 80%
}


/* TABLE */

.table {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0.2px;
    color: var(--main-text-color);
    border-collapse: collapse;
    border-radius: 10px;
    border-color: var(--background-color);
    box-shadow: var(--white-text-shadow);
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
}

.table thead th {
    vertical-align: bottom;
    color: var(--white-color);
    text-shadow: var(--white-text-shadow);
    border-bottom: 2px solid var(--background-color);
    background-color: var(--secondary-color-transparency);
}

.table-hover tbody tr:hover {
    color: var(--accent-color);
}

.table th {
    font-weight: bold;
    text-align: left;
}

.table-green thead th {
    background-color: var(--accent-color-transparency);
    color: var(--main-text-color);
    text-shadow: var(--dark-text-shadow);
}

.table svg {
    color: var(--main-text-color);
}

td>a,
td>.btn {
    margin: 0.2rem;
}


/* GL-CARDS */

.gl-card {
    position: relative;
}

.gl-card>i {
    position: absolute;
    font-size: 18rem;
    top: 0%;
    left: 26%;
    width: auto;
    color: var(--white-color);
    transform: skew(12deg, 20deg);
    z-index: 0;
}

.card-body {
    z-index: 1;
}

i {
    color: var(--white-color);
}

.xemi-statisic {
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
}

.xemi-statisic>div:first-child {
    background-color: var(--secondary-color-transparency);
    color: var(--alter-text-color);
    text-shadow: var(--white-text-shadow);
    font-size: 1.18rem;
}

.xemi-statisic h5 {
    color: var(--hover-button-color);
    text-shadow: var(--white-text-shadow);
    font-size: 2.6rem;
}


/* INDEX.HTML */

.banner-title {
    background-color: var(--accent-color-transparency);
    border-radius: 15px;
    box-shadow: var(--white-text-shadow);
}

.banner-title>h2 {
    color: var(--main-text-color);
    text-shadow: var(--dark-text-shadow);
}

.banner-title p {
    color: var(--background-color);
    text-shadow: var(--white-text-shadow);
    font-weight: 400;
}

.banner-title span {
    color: var(--hover-button-color);
    text-shadow: var(--white-text-shadow);
}


/* TESTIMONIAL */

.testimonials-section {
    background-color: var(--accent-color-transparency);
}

.testimonials-section img {
    border-radius: 50%;
    height: 9rem;
    width: auto;
    padding-bottom: 1.5rem;
}

.testimonial-card>div {
    border-radius: 10px;
    box-shadow: var(--white-text-shadow);
    margin-bottom: 1rem;
    background-color: var(--white-color);
}

.testimonials-section p {
    color: var(--main-text-color);
}

.section-shadow {
    background-color: var(--accent-color-transparency);
    box-shadow: 0 4px 8px var(--primary-color);
}

.xemi-feat {
    position: relative;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    text-decoration: none;
    filter: drop-shadow(10px 7px 20px var(--secondary-color-transparency));
}

.xemi-feat>svg {
    width: 10rem;
    height: auto;
    transform: rotate(45deg);
    padding: 3px;
    color: var(--secondary-color);
    position: absolute;
    z-index: 0;
    top: -3rem;
    right: 2.6rem;
    background-color: var(--accent-color-transparency);
    border: var(--secondary-color) dashed 0.34rem;
    border-radius: 50%;
}

.xemi-feat .feat-text {
    z-index: 4;
    position: relative;
    background-color: var(--accent-color-transparency);
    border-radius: 80px;
}

.xemi-feat h3 {
    text-shadow: 1px 1px 2px var(--white-color);
    padding: 3px;
}

.xemi-feat h4 {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}

.about-section p {
    font-size: 1.15rem;
    font-weight: 400;
    filter: drop-shadow(10px 7px 20px var(--accent-color-transparency));
}

#top-comp img {
    border-radius: 50%;
    height: 9rem;
    width: auto;
    padding-bottom: 1.5rem;
}


/* PARALLAX EFFECT */

.parallax {
    min-height: 450px;
    background-image: url('/static/imgs/parallax-1.webp');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.para-about {
    min-height: 250px;
    background-image: url('/static/imgs/banner2.jpg');
    background-position: center;
}

.para-dash-comp {
    background-image: url('/static/imgs/banner.jpg');
    min-height: 200px;
}

.para-dash-user {
    background-image: url('/static/imgs/office-blue-01.webp');
    min-height: 200px;
}

.para-new-job {
    background-image: url('/static/imgs/city-blue-01.webp');
    min-height: 200px;
}

.para-prof-user {
    background-image: url('/static/imgs/office-green-01.webp');
    min-height: 200px;
}

.para-prof-comp {
    background-image: url('/static/imgs/office-green-02.webp');
    min-height: 200px;
}

.white-parallax {
    min-height: 100px;
}

#gl-cards {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#gl-cards>.leftimg {
    position: absolute;
    height: 100%;
    left: 0%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    z-index: 0;
}

#gl-cards>.rightimg {
    position: absolute;
    height: 100%;
    right: 0%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    z-index: 0;
}


/* 404 - 403 -401 */

.bg-jp,
.bg-john {
    background-image: url(../imgs/ahahah.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 5rem;
    padding-top: 5rem;
    padding-bottom: 14rem;
    top: 5rem;
}

.bg-john {
    background-image: url(../imgs/john404.gif);
}

.bg-john .fw-bold,
.bg-jp .fw-bold {
    color: var(--alter-text-color);
    text-shadow: var(--white-text-shadow);
}

.bg-john .lead,
.bg-jp .lead {
    color: var(--accent-color);
    font-size: 1.3rem;
    font-weight: 800;
    text-shadow: var(--white-text-shadow);
}

.bg-jp .alt-num {
    color: var(--hover-button-color);
    text-shadow: var(--white-text-shadow);
}

section div {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-width: 425px) {
    .parallax {
        background-attachment: scroll;
        background-position: left;
    }
}

@media only screen and (max-width: 991px) {
    #gl-cards>.leftimg {
        left: -10%;
    }
    #gl-cards>.rightimg {
        right: -10%;
    }
}

@media only screen and (max-width: 767px) {
    #gl-cards>.leftimg {
        display: none;
    }
    #gl-cards>.rightimg {
        display: none;
    }
    .feat-alt>svg {
        left: 2.6rem;
    }
}