{% extends "xemijobs/base.html" %}
<!-- PAGE TITLE -->
{% block page_title %}Welcome to XemiJobs{% endblock %}


<!-- MAIN CONTENT -->
{% block main_content %}
<!-- Hero Section -->

<section class="parallax mb-3 align-items-center">

    <div class="hero-section text-center text-white d-flex justify-content-center">
        <div class="px-4 pt-5 my-3 text-center">
            <div class="banner-title p-2">

                <h2 class="display-4 fw-bold ">Offering <span>{{total_jobs}}</span> Job Vacancies Right Now!</h2>
                <div class="col-lg-6 mx-auto">
                    <p class="lead ">Explore thousands of job opportunities tailored to your skills and preferences. Join our platform and take the next step in your career with ease and confidence.</p>
                    <div class="justify-content-sm-center mb-2">
                        <a href="/user/register" class="btn btn-primary mb-3 btn-lg px-4 me-sm-3">Register</a>
                        <a href="/job/job-list/1" class="btn btn-primary mb-3 btn-lg px-4 me-sm-3">View Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--Companies pictures -->
<section id="top-comp" class="text-center d-flex align-items-center">
    <div class="container">
        <h2 class="pb-3">TOP COMPANIES</h2>
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ url_for('static', filename='imgs/comp-pics/comp-1.webp') }}" alt="Company 1 images" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="{{ url_for('static', filename='imgs/comp-pics/comp-2.webp') }}" alt="Company 2 images" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="{{ url_for('static', filename='imgs/comp-pics/comp-3.webp') }}" alt="Company 3 images" class="img-fluid">
            </div>
            <div class="col-sm-6">
                <img src="{{ url_for('static', filename='imgs/comp-pics/comp-4.webp') }}" alt="Company 4 images" class="img-fluid">
            </div>
            <div class="col-sm-6">
                <img src="{{ url_for('static', filename='imgs/comp-pics/comp-5.webp') }}" alt="Company 5 images" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<!-- Features Section -->
<section class="features-section py-3 text-center d-flex align-items-center">
    <div class="container">
        <h2 class="pb-3">WHY XEMIJOBS?</h2>
        <div class="row text-center">
            <a href="#" class="col-md-4 xemi-feat">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                    <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                </svg>
                <div class="feat-text">
                    <h3>Job Search</h3>
                    <h4>Explore thousands of job opportunities.</h4>
                </div>
            </a>
            <a href="#" class="col-md-4 xemi-feat feat-alt">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z"/>
                  </svg>
                <div class="feat-text">
                    <h3>Online Interviews</h3>
                    <h4>Quick and easy.</h4>
                </div>
            </a>
            <a href="#" class="col-md-4 xemi-feat">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z"/>
                  </svg>
                <div class="feat-text">
                    <h3>Upload your CV</h3>
                    <h4>Edit your CV to get better results</h4>
                </div>
            </a>

        </div>
    </div>
</section>

<!-- About Section -->
<section class="about-section py-5 bg-light section-shadow">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>About XemiJobs</h2>
                <p>XemiJobs is a leading job portal that connects job seekers with top companies. Our mission is to make the job search and hiring process easier and more efficient.</p>
                <p>Whether you are looking for your next career move or seeking to hire the best talent, XemiJobs is here to help you every step of the way.</p>
            </div>
            <div class="col-md-6">
                {% include 'widgets/carousel.html' %}
            </div>
        </div>
    </div>
</section>


<!-- Testimonials Section -->
<section class="testimonials-section py-5">
    <div class="container">
        <h3 class="text-center mb-5">What Our Users Say</h3>
        <div class="row">
            <div class="col-md-6 col-lg-3 testimonial-card">
                <div class="p-4 text-center rounded">
                    <img src="{{ url_for('static', filename='imgs/testimonials/user1.webp') }}" alt="User 1" class="rounded-circle mb-3">
                    <h4>Jane Doe</h4>
                    <p class="small text-muted">Marketing Specialist</p>
                    <p class="testimonial-text">"XemiJobs made my job search so easy. I found the perfect position within days, and the process was seamless!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 testimonial-card">
                <div class="p-4 text-center rounded">
                    <img src="{{ url_for('static', filename='imgs/testimonials/user2.webp') }}" alt="User 2" class="rounded-circle mb-3">
                    <h4>John Smith</h4>
                    <p class="small text-muted">Software Engineer</p>
                    <p class="testimonial-text">"Thanks to XemiJobs, I was able to land a job at a top tech company. The online interviews were a great feature!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 testimonial-card">
                <div class="p-4 text-center rounded">
                    <img src="{{ url_for('static', filename='imgs/testimonials/user3.webp') }}" alt="User 3" class="rounded-circle mb-3">
                    <h4>Sarah Johnson</h4>
                    <p class="small text-muted">Graphic Designer</p>
                    <p class="testimonial-text">"The user interface is super friendly and easy to navigate. I highly recommend XemiJobs to anyone looking for a job!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 testimonial-card">
                <div class="p-4 text-center rounded">
                    <img src="{{ url_for('static', filename='imgs/testimonials/user4.webp') }}" alt="User 4" class="rounded-circle mb-3">
                    <h4>Michael Lee</h4>
                    <p class="small text-muted">Data Analyst</p>
                    <p class="testimonial-text">"I was able to upload my CV and apply to multiple jobs effortlessly. XemiJobs truly streamlines the job search process."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- call to action -->
<section class="call-to-action-section">
    <div class="container-fluid" id="gl-cards" >
        <img src="{{ url_for('static', filename='imgs/business-man.webp') }}" alt="left avatar" class="leftimg">
        <img src="{{ url_for('static', filename='imgs/const-woman.webp') }}" alt="right avatar" class="rightimg">
        {% set glowcards_data = [
            {
                'title': 'User Registration',
                'price': 'Free',
                'paragraphs': [
                    'Join XemiJobs and explore thousands of job opportunities tailored to your skills and preferences.',
                    'Create a personalized profile to apply for jobs quickly and easily.',
                    'Receive job alerts directly to your inbox and never miss an opportunity.'
                ],
                'bullets': [
                    'Access to a wide range of job postings',
                    'Personalized job alerts',
                    'Easy job application process',
                    'Save and manage your favorite jobs'
                ],
                'icon': 'bi bi-person-fill',
                'link': url_for('users.register') ,
                'cta_text': 'Register as a User',
            },
            {
                'title': 'Company Registration',
                'price': '£49.99',
                'paragraphs': [
                    'Register your company on XemiJobs and find the best talent to join your team.',
                    'Post job listings and receive applications from qualified candidates.',
                    'Manage your job postings and communicate directly with applicants.'
                ],
                'bullets': [
                    'Post unlimited job openings',
                    'Access to our candidate database',
                    'Advanced applicant tracking tools',
                    'Priority support and account management'
                ],
                'icon': 'bi bi-building',
                'link': url_for('companies.register'),
                'cta_text': 'Register as a Company',
            }
        ] %}

        {% include 'widgets/xemiglowcards.html' %}

    </div>
</section>

    



{% endblock %}