{% extends "xemijobs/base.html" %}
<!-- PAGE TITLE -->
{% block page_title %}Widegts{% endblock page_title %}


<!-- MAIN CONTENT -->
{% block main_content %}
    <h2>Alert</h2>
    {% include 'widgets/alert.html' %}
    <br>
    <hr>
    <h2>Cards</h2>
    {% include 'widgets/cards.html' %}
    <br>
    <hr>
    <h2>Modal</h2>
    <!-- Button trigger modal -->
     <div class="container">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
             Launch demo modal
         </button>
     </div>

    {% include 'widgets/modal.html' %}
    <br>
    <hr>
    <h2>Carousel</h2>
    <div class="container text-align-center">
        {% include 'widgets/carousel.html' %}
    </div>
    <br>
    <hr>
    <h2>Form</h2>
    <div class="container">
        {% set submit_text = "Register" %}
        {% include 'widgets/form1.html' %}
    </div>
        
    <br>
    <hr>
    <h2>Tables</h2>
    <div class="container">

        {% set table_headers = ["Name", "Age", "Position", "Salary"] %}
        {% set table_data = [
        {"Name": "John Doe", "Age": 28, "Position": "Developer", "Salary": "$1000"},
        {"Name": "Jane Smith", "Age": 34, "Position": "Designer", "Salary": "$1200"},
        {"Name": "Sam Johnson", "Age": 25, "Position": "Tester", "Salary": "$900"}
    ]%}
        
        {% include 'widgets/table-blue.html' %}
        {% include 'widgets/table-green.html' %}
    </div>
        
    <br>
    <hr>
    <h2>Glow Cards</h2>
    <div class="container" id="gl-cards">
        {% set glowcards_data = [
            {
                'title': 'Basic',
                'price': '$9.99',
                'bullets': ['Access to standard workouts and nutrition plans', 'Email support'],
                'link': '#basic',
                'cta_text': 'Get Started',
                'hue': 165
            },
            {
                'title': 'Pro',
                'price': '$19.99',
                'bullets': ['Access to advanced workouts and nutrition plans', 'Priority Email support', 'Exclusive access to live Q&A sessions'],
                'link': '#pro',
                'cta_text': 'Upgrade to Pro',
                'hue': 291.34
            },
            {
                'title': 'Ultimate',
                'price': '$29.99',
                'bullets': ['Access to all premium workouts and nutrition plans', '24/7 Priority support', '1-on-1 virtual coaching session every month', 'Exclusive content and early access to new features'],
                'link': '#ultimate',
                'cta_text': 'Go Ultimate',
                'hue': 338.69
            },
        ] %}{# Agrega más tarjetas según sea necesario #}

        {% include 'widgets/xemiglowcards.html' %}

    </div>
        
    <br>
    <hr>

{% endblock main_content %}

