{% extends "xemijobs/base.html" %}
<!-- PAGE TITLE -->
{% block page_title %}Create a new job{% endblock page_title %}


<!-- MAIN CONTENT -->
{% block main_content %}
    <section class="parallax para-new-job mb-3 align-items-center">

        <div class="hero-section text-center text-white d-flex justify-content-center">
            <div class="px-4 pt-5 my-3 text-center">
                <div class="banner-title p-2">
                        <h2 class="display-4 fw-bold ">Create/Edit a <span>job</span></h2>
                </div>
            </div>
        </div>

    </section>
    {% set submit_text = "Create Job!" %}
    {% include "widgets/form1.html" %}

{% endblock main_content %}

